*{margin:0;padding:0;box-sizing:border-box;}
html, body{width:100%;height:100%;overflow:hidden;font-size:62.5%;}
html{
     /* Prevent font scaling in landscape */
     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
     -moz-text-size-adjust: none; /*Firefox*/
     -ms-text-size-adjust: none;  /*Ie*/
     -o-text-size-adjust: none; /*old versions of Opera*/
}
.main{position:relative;width:100%;height:100%;overflow:hidden;}
#result{width:100%;height:100%;}
.worker_name{position:absolute;font-size:1.4rem;color:black;transform:translate(-50%, 5px);}
.ui{position:absolute;left:10px;bottom:10px;font-size:1.4rem;display:flex;flex-wrap:nowrap;align-items:center;}
.camera_control{display:none;align-items:center;}
.desktop .camera_control{display:flex;}
@media (max-width: 850px) {
	.ui {flex-wrap:wrap;}
}